body {
  background: #feac5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #4bc0c8,
    #c779d0,
    #feac5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #4bc0c8,
    #c779d0,
    #feac5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Raleway", sans-serif;
  height: 1300px;
  width: 1400px;
  overflow-x: hidden;
}

/*---GIORGIO'S NAVBAR*/
.directions {
  display: flex;
  flex-direction: row;
}
.roundButton {
  border-style: solid;
  border-color: black;
  border-radius: 50%;
  background-color: black;
  transform: translateX(10px);
  margin-bottom: 10px;
}
.roundButton1 {
  border-style: solid;
  border-color: black;
  border-radius: 50%;
  background-color: black;
  transform: translateX(10px);
  margin-bottom: 10px;
  opacity: 0.5;
}

#dropdownMenuButton {
  background-color: black;
  color: aliceblue;
  font-weight: bolder;
  border-radius: 30px;
}
#profileImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
nav {
  background-color: rgba(18, 18, 18, 0);
}
#navRow {
  display: flex;
  justify-content: space-around;
  width: 100%;
  transform: translateX(-200px);
}
#dropdown {
  background-color: rgb(18, 18, 18);
  font-weight: bolder;
  padding-left: 20px;
}
#dropdown a {
  color: aliceblue;
  font-weight: 500;
}
#dropdown a:hover {
  background-color: rgb(61, 60, 60);
}

.dropdown {
  margin-top: 5px;
}
.navbar {
  width: 100%;

  height: 50px;
}
.navbar1 {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 1350px;
  transform: translateY(0px);
  background-color: rgb(18, 18, 18);
  min-width: 260px;
  max-width: 270px;
}
#verticalMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.inline {
  display: inline;
}
.plus {
  height: 30px;
  width: 30px;
  margin-right: 16px;
  margin-left: 3px;
}
.plus1,
a,
span {
  height: 35px;
  width: 35px;
  margin-right: 15px;
  color: rgb(169, 170, 170);
  font-weight: bold;
  position: relative;
}
a,
svg {
  margin-top: 10px;
}
a:hover {
  color: rgb(208, 211, 211);
  text-decoration: none;
}
.bi {
  transform: translateY(-13px);
  margin-left: -5px;
}

#firstIcon {
  transform: translateY(-10px);
  scale: 85%;
}
#secondIcon {
  transform: translateY(-7px);
  scale: 80%;
}
#thirdIcon {
  transform: translateY(-7px);
  margin-left: -5px;
}

/*MAIN-GRID*/
main {
  width: 75%;
  margin-bottom: 30px;
  margin-bottom: 30px;
  position: absolute;
  top: 20px;
  left: 300px;
  background-color: transparent;
}

@media (max-width: 768px) {
  main {
    margin-bottom: 30px;
    position: static;
    top: 20px;
    left: 300px;
    background-color: transparent;
  }
}

/*FIRST ROW*/

.bi-play-info {
  color: #1fdf64;
  margin-left: 20px;
}

.bi-play-info:hover {
  background: #ffffff;
  box-shadow: 0 0 0 0 #202221;
  border-radius: 50%;
  border: 1px solid #1fdf64;
  animation: pulse-green 2s infinite;
  cursor: pointer;
}

@keyframes pulse-green {
  0% {
    box-shadow: 0 0 0 0 #1fdf64;
  }

  70% {
    box-shadow: 0 0 0 10px rgba(33, 41, 39, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(33, 41, 39, 0);
  }
}

.bi-heart {
  margin-left: 10px;
}

.bi-heart:hover {
  color: white;
}


.bi-three-dots {
  margin-left: 10px;
}

/*PLAYLIST SECTION*/

.col-4 img {
  box-shadow: 0px 12px 18px -9px rgba(0, 0, 0, 0.82);
  border-radius: 6px;
}

img[alt="artist"] {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  object-fit: cover;
}

.col-8 {
  margin-top: auto;
  padding-left:0px;
}

.col-8 > div:first-of-type > span {
  color: white;
}

.artist-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.artist-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.playlist-info {
  border-bottom: 1px solid #dfd2d2;
}

.playlist-info:hover {
  background-color: transparent !important;
}
#playlist-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#playlist-column:hover {
  background: rgba(59, 38, 37, 0.61);
border-radius: 3px;
box-shadow: 5px 6px 15px -3px rgba(26, 26, 26, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

#playlist-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

#playlist-hash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

#playlist-song {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: max-content;
  margin-top: 0px;
}


#playlist-song h5 {
  margin:auto;
}
#playlist-time .bi {
  margin: auto;
}

/*-----FOOTER------*/
h1 {
  font-size: 36px;
}

.playFooter {
  background-color: rgb(18, 18, 18);
  height: 100px;
}

.progress-song {
  padding-bottom: 10px;
}

div.progress {
  height: 3px;
}

.volume-progress {
  width: 100px;
}

.container1 {
  position: absolute;
  margin: 300px;
  width: 107%;
}
.row1 {
  display: flex;
  justify-content: space-between;
}
#playSection {
  padding-top: 40px;
  height: 60px;
}

.column:hover {
  scale: 110%;
  border-style: solid;
  border-color: rgba(19, 255, 19, 0.452) !important;
  border-radius: 5px;
  background: linear-gradient(
    112deg,
    rgb(71, 184, 80) 0%,
    rgb(3, 43, 9) 100%
  ) !important;
  cursor: pointer;
}
.column:hover p {
  color: rgb(224, 198, 216);
}

.column:not(:hover) {
  filter: blur(0px);
}

#imageS {
  height: 40px;
}

.rightVolumeSide {
  margin-top:25px;
}

.galleryArtist> div:first-of-type {
  margin-top:-25px;
}