body {
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
      font-family: 'Raleway' , sans-serif;
      height: 1300px;
      width:1400px;
    overflow-x: hidden;
       }
  
  
  
       /*---GIORGIO'S NAVBAR*/
       .directions {
        display: flex;
        flex-direction: row;
        
      }
      .roundButton {
        border-style: solid;
        border-color: black;
        border-radius: 50%;
        background-color: black;
        transform: translateX(10px);
        margin-bottom: 10px;
      }
      .roundButton1 {
        border-style: solid;
        border-color: black;
        border-radius: 50%;
        background-color: black;
        transform: translateX(10px);
        margin-bottom: 10px;
        opacity: 0.5;
      }
     
      #dropdownMenuButton {
        background-color: black;
        color: aliceblue;
        font-weight: bolder;
        border-radius: 30px;
      }
      #profileImg {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      nav {
        background-color: rgba(18, 18, 18, 0);
      }
      #navRow {
        display: flex;
        justify-content: space-around;
        width: 100%;
        transform: translateX(-200px);
        
      }
      #dropdown {
          background-color: rgb(18, 18, 18);
          font-weight: bolder;
          padding-left:  20px;
          
          
       
          
      }
      #dropdown a {
          color: aliceblue;
          font-weight: 500;
      }
      #dropdown a:hover {
          background-color: rgb(61, 60, 60);
      }
   
      .dropdown {
        margin-top: 5px;
        
        
        
      }
      .navbar {
        width: 100%;
        
        height: 50px;
      }
      .navbar1 {
          display: flex;
          flex-direction: column;
          width: 15%;
          height: 1300px;
          transform: translateY(0px);
          background-color: rgb(18, 18, 18);
          min-width: 260px;
          max-width: 270px;
         
      }
      #verticalMenu{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          
      }
     .inline {
         display: inline;
     }
    .plus{
        height: 30px;
        width: 30px;
        margin-right: 16px;
        margin-left: 3px;
     }
     .plus1, a, span{
        height: 35px;
        width: 35px;
        margin-right: 15px;
        color: rgb(169, 170, 170);
        font-weight: bold;
        position: relative;
        
     }
     a, svg {
         margin-top: 10px;
     }
      a:hover {
          color: rgb(208, 211, 211);
          text-decoration: none;
          
      }
      .bi{
       transform: translateY(-13px);
       margin-left: -5px;
      }
  
     #firstIcon{
       transform: translateY(-10px); scale: 85%;
     }
     #secondIcon {
       transform: translateY(-7px); scale: 80%;
     }
     #thirdIcon {
      transform: translateY(-7px);
      margin-left: -5px;
     }
     
  
    
  
  
  
  /*MAIN-GRID*/
  main {
    width: 75%;
    margin-bottom:30px;
    margin-bottom: 30px;
    position: absolute;
    top: 20px;
    left: 300px;
    background-color: transparent;
    z-index:1;
  
    }

    @media (max-width:768px) {
      main {
        margin-bottom:30px;
        position:static;
    top: 20px;
    left: 300px;
    background-color: transparent;
      }
    }

    .same-main {
      width: 75%;
      margin-bottom:30px;
      margin-bottom: 30px;
      position: absolute;
      top: 20px;
      left: 300px;
      background-color: transparent;
      z-index:0;
     
    }

    .same-main img {
      height:300px;
      width:100%; 
      object-fit:cover;
      border-radius: 25px;
      box-shadow: 0px 12px 18px -9px rgb(0 0 0 / 60%)
    }

/*------Section ARTIST ------*/
.artist-wrapper{
display: flex;
    flex-direction: column;
    margin-top:100px;
   }

   .bi-patch-check-fill {
     margin-left: 5px;
   }


 /*_____SECTION PLAY BUTTON_____*/

 .bi-play-info {
  color: #1fdf64;
  margin-left: 0px;
}

.bi-play-info:hover {
  background: #ffffff;
  box-shadow: 0 0 0 0 #202221;
  border-radius: 50%;
  border: 1px solid #1fdf64;
  animation: pulse-green 2s infinite;
  cursor: pointer;
}

@keyframes pulse-green {
  0% {
    box-shadow: 0 0 0 0 #1fdf64;
  }

  70% {
    box-shadow: 0 0 0 10px rgba(33, 41, 39, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(33, 41, 39, 0);
  }
}

.bi-heart {
  margin-left: 10px;
}

.bi-heart:hover {
  color: white;
}


.bi-three-dots {
  margin-left: 10px;
}
  


.btn-outline-light {
  margin-top: -15px;
  margin-left: 10px;
}


.btn-outline-light:hover {
  color:#1fdf64;
}
  
  /*-----FOOTER------*/
  h1 {font-size: 36px}
  
  
      .playFooter {
        background-color: rgb(18, 18, 18);
        height: 100px;
      }
      
      .progress-song {
        padding-bottom: 10px;
      }
  
      div.progress {
      height: 3px;
      }
  
  
      .volume-progress {
      width: 100px;
      }
  
      
      .container1 {
        position: absolute;
        margin: 300px;
        width: 107%;
        
      }
      .row1{
        
        display: flex;
        justify-content: space-between;
      }
      #playSection {
        padding-top: 20px;
        height: 60px;
      }
  
      
     .column:hover {
        scale: 110%;
        border-style: solid;
        border-color:rgba(19, 255, 19, 0.452) !important;
        border-radius: 5px;
        background: linear-gradient(112deg, rgb(71, 184, 80) 0%, rgb(3, 43, 9) 100%) !important;
        cursor:pointer;
      
      }
      .column:hover p {
        color: rgb(224, 198, 216);
      }
    
      
  
      #imageS{
        height: 40px;
      }
    
      